<div style="text-align:center">
  <section class="property-binding">
    <!--<article>
      <h3>Interpolation / Interpolação</h3>
      <p>String renderizada com Interpolação: {{ url }} </p>
      <p>O resultado de 1+1 é: {{ 1+1 }}</p>
      <p>O resultado de 1+1 não é: {{ 1+1+getValor() }}</p>
      <p>Curso de angular e gosto do curso: {{ cursoAngular && getCurtirCurso() }} </p>
    </article>

    <article>
      <h3>Property Binding</h3> -->
    <!--  <img src="{{urlImage}}"  Interpolation -->
    <!--  <img [src]="urlImage"> property-binding -->
    <!-- </article> -->

  <!--  <article>
      <h3>
        Class e Style Binding
      </h3>
      <div>
        Selecione uma classe:
        <select #class (change)="0">
          <option value="alert-success">Sucesso</option>
          <option value="alert-secondary">Segundario</option>
          <option value="alert-primary">Primário</option>
          <option value="alert-info">Informações</option>
        </select>
        <br><br>
        <div class="alert" role="alert">
          This is a warning alert—check it out!
        </div>
        <div class="alert" role="alert">
          This is a info alert—check it out!
        </div>
        <div class="alert" role="alert">
          This is a light alert—check it out!
        </div>
        <div class="alert" role="alert">
          This is a dark alert—check it out!
        </div>
      </div>
    </article>
-->
    <article>
      <br>
      <span
        (mouseover) = "mouseOver()"
        (mouseout) = "mouseOver()"
        [class.destaque2]="isMouseOverTitle"
        class="text-info">

          Aula 11

        </span>
        <br>

        <h3>Event Binding</h3>

        <br>

      <div>
        <button (click)="botaoClicado()"
        class="btn btn-primary">
          Clique me!
        </button>

        <br>
        <br>


        <input type="text"
        (keyup)="onKeyUp($event)"
        (keyup.enter)="salvarValor(campoInput.value)"
        (blur)="salvarValor(campoInput.value)"
        #campoInput />

        <p>valor Atual: {{ valorAtual }}</p>
        <p>valor salvo: {{ valorSalvo }}</p>

        <br>
        <span
        (mouseover)="onMouseOverOut()"
        (mouseout)="onMouseOverOut()"
        [class.destaque]="isMouseOver">
          Passe o mouse em cima de mim</span>



      </div>

    </article>

  </section>

</div>
