<section class="two-way-binding">
  <article>
    <br>
    <h3>Two-way-binding</h3>
    <div>

      <input type="text"
        [value]="nome"
        (input) = "nome = $event.target.value"/>

 

      <p>Você digitou o nome: {{ nome }}</p>
    </div>

    <div>
      <input type="text"
      [value]="pessoa.nome"
      (input) = "pessoa.nome = $event.target.value"/>

      <input type="text"
      [value]="pessoa.idade"
      (input) = "pessoa.idade = $event.target.value"/>

      <p>Meu nome é: {{ pessoa.nome }} e tenho {{ pessoa.idade}} anos de idade</p>
    </div>

  </article>
</section>
